* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    width: 80%;
    margin: 20vh;
    border-radius: 5%;
    box-shadow: 5px 5px;
}
.inputs input {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
    text-align: center;
    height: 5vh;
    
}
.inputs button {
    
    background-color: red;
    color: white;
    
}

.paidoff {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20%;
    text-align: center;
    height: 5vh;
    border: 1px solid black;
    background-color: white;
    margin-top: 10vh;
    padding: 1vh;
}
.clearbut {
    border-radius: 10px;
    width: 20%;
    height: 3vh;
    margin-top: 1vh;
}
.submit {
    border-radius: 10px;
    width: 100%;
    height: 3vh;
    margin-top: 1vh;
}